#home-page h1 {
  margin-bottom: 0;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5%;
  width: 100%;
  margin: 1.5em 0 0;
}

.link-card {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.link-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  border-radius: 50%;

  &.about {
    background: radial-gradient(
      ellipse at center,
      rgba(253, 160, 98, 0.6) 10%,   /* strong center */
      rgba(253, 160, 98, 0.3) 50%,   /* feather */
      rgba(253, 160, 98, 0) 60%     /* fade to transparent */
    );
  }
  
  &.projects {
    background: radial-gradient(  /* pink */
      ellipse at center,
      rgba(236, 72, 153, 0.6) 10%,
      rgba(236, 72, 153, 0.3) 50%,
      rgba(236, 72, 153, 0) 60%
    );
  }
  
  &.hobbies {
    background: radial-gradient(  /* purple */
      ellipse at center,
      rgba(150, 123, 182, 0.6) 10%,
      rgba(150, 123, 182, 0.3) 50%,
      rgba(150, 123, 182, 0) 60%
    );
  }
}
