.hobbies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  /** TODO: Center the items? */
    align-items: flex-end;

    padding: 2em 0;
}

.gd-wrapper {
    width: 20%;
    margin: 0 1em 2em;

    & .text2 {
        margin: 0;
        text-align: right;
    }

    & .gd-image {
        border: solid 2px var(--sage-green);
        border-radius: 0.5em;
    }
}

.dv-wrapper {
    width: 50%;
    margin: 1em 0;

    & .text2 {
        margin: 0.5em;
    }
}