.gd-container, .non-gd-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

    padding: 2em 0;
}

.gd-container {
    justify-content: center;
}

.non-gd-container {
    justify-content: space-between;
    align-items: flex-start;
}

.gd-wrapper {
    width: 20%;
    margin: 0 1em 2em;

    & .text2 {
        margin: 0;
        text-align: right;
    }

    & .gd-image {
        border: solid 2px var(--sage-green);
        border-radius: 0.5em;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.dv-wrapper {
    width: 50%;
    margin: 1em 0;

    & .text2 {
        margin: 0.5em;
    }
}

/* Modal styles */
.no-interaction {
    pointer-events: none;
}

.gd-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
    pointer-events: auto;  /* Allow users to close the modal by clicking on overlay. */
}

.gd-modal-wrapper {
    /* Center the modal. */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -10%);

    pointer-events: auto; /* Allows users to click X to close the modal. */
}

.gd-image {
    border-radius: 1em;
    border: solid 2px var(--sage-green);
}

.gd-close {
    justify-self: right;
    margin-right: 8em;
    padding: 1em;

    font-weight: 900;
    color: var(--mint-green);
    
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.25);
    }
}