#root {
  width: 1280px;  /** Fixed. **/
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

#about-me-page {
  margin: 0 5em;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark-green);
  background-color: var(--mint-green);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #FFFFFF;
  --mint-green: #C6DDCA;
  --light-green: #B5CEBA;
  --sage-green: #A9BDAD;
  --hunter-green: #879A8A;
  --dark-green: #69896F;
  --darker-green: #45634B;
}

a {
  font-weight: 500;
  color: var(--dark-green);
  text-decoration: underline;
}
a:hover {
  color: var(--white);
}

body {
  margin: 0;
  display: flex;

  /** TODO: Adjust place-items properties for Projects and Hobbies page (centered horizontally only). **/
  place-items: center;  /** Centers the items on the screen. Vertically and horizontally. **/
  text-align: center;   /** Centers the text on the screen. **/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.text1 {
  font-size: 1.7em;
}

.text2 {
  font-size: 1.3em;
}

.text3 {
  font-size: 1em;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-green);
    background-color: var(--mint-green);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* responsiveness
@media (max-width: 100px) {
  :root {
    font-size: 32px;
  }
} */

/* Footer */
.footer-wrapper {
  position: absolute;
  margin-top: 4em;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

/* Filter panel with filter buttons. */
.filter-panel {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding-top: 2em;
}

.filter-button-wrapper {
  padding: 0.25rem 2rem;
  border-radius: 25px;
  background-color: var(--dark-green);
  transition: transform 0.3s ease;

  cursor: pointer;

  &.selected {
      background-color: var(--darker-green);
  }

  &:hover:not(.selected){
      transform: scale(1.05); /* Scale up by 5% */
  }

  &:active:not(.selected) {
      background-color: var(--darker-green);
  }
}

.filter-button-text {
  margin: 0;
  padding: 0.25em;
  font-weight: 800;
  font-size: 1em;

  color: var(--mint-green);
  text-shadow: 
      1px 1px 0px var(--darker-green),   /* Shadow on the top-right */
      -1px -1px 0px var(--darker-green), /* Shadow on the top-left */
      1px -1px 0px var(--darker-green),  /* Shadow on the bottom-right */
      -1px 1px 0px var(--darker-green);  /* Shadow on the bottom-left */
}

/* Fade in and out animation for modals (for projects and graphic designs). */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Centered and visible */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5); /* Fade out and shrink */
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

#homeLink, #aboutLink, #projectsLink, #hobbiesLink {
  color: var(--dark-green);
  text-decoration: none;

  &:hover {
    color: var(--white);
  }
}

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  column-gap: 4%;
  margin: 1em 0 0;

  & h1 {
    margin: 0;
  }
}

.icon {
  cursor: pointer;
}