.navbar-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5em;

    transition: transform 0.3s ease;
    z-index: 1;

    &:hover{
        cursor: pointer;
    }
}

@keyframes rightIn {
    0% {
        transform: translate(25%);
    }
    100% {
        transform: translate(0%);
    }
}

@keyframes rightOut {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(25%);
    }
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    width: 10%;
    padding: 4em 2em 1em;

    /* Only add the backdrop when the dropdown is open. */
    &.open-wrapper {
        animation: rightIn 0.5s forwards;
        border: solid 1px var(--sage-green);
        border-radius: 0 0 0 1em;
        background-color: var(--light-green);
    }

    &.close-wrapper {
        animation: rightOut 0.5s forwards;
    }

    & .text2 {
        text-align: left;   /* Options to the left. */
        margin: 0;
    }
}

.navbar-menu-option {
    display: flex;
    justify-content: left;
    align-items: center;
}