/* To tilt the watering pot. */
@keyframes left45 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes right45 {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.open-dropdown {
    animation: left45 0.5s forwards;
}

.close-dropdown {
    animation: right45 0.5s forwards;
}

/* To get dropdown to appear from the top-right corner of the screen. */
@keyframes cornerIn {
    0% {
        transform: translate(25%, -25%)
    }
    100% {
        transform: translate(0%)
    }
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    width: 10%;
    text-align: right;      /* Watering pot to the right. */
    padding: 2em 2em 1em;

    /* Only add the backdrop when the dropdown is open. */
    &.open-wrapper {
        animation: cornerIn 0.5s forwards;
        border: solid 1px var(--sage-green);
        border-radius: 0 0 0 1em;
        background-color: var(--light-green);
    }

    & .text2 {
        text-align: left;   /* Options to the left. */
        margin: 0;
    }
}

.wc {
    transition: transform 0.3s ease;
    opacity: 0.7;

    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}