.project-card-container {
    width: 90%;
    margin: 2em 0;
    justify-self: center;

    /* border: solid 1px var(--dark-green); */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 5%;
}

.project-wrapper {
    width: 20%;
    margin: 0 0 2em;
    /* border: solid 1px var(--dark-green); */
    
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.025);
    }
}

.project-logo {
    border-radius: 1em;
    border: solid 2px var(--sage-green);
}

.project-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5em;
    
    & :is(.text1, .text2, .text3){
        margin: 0;   
    }
}

.number {
    padding: 0 0.25em 0 0;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & :is(.text2, .text3){
        text-align: right;
    }
}

/* Modal styles */
/* Fade in and out animation (for project modal). */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1); /* Centered and visible */
    }
}
  
@keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5); /* Fade out and shrink */
    }
}
  
.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.modal-wrapper {
    /* Center the modal. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);

    width: 70%;
    pointer-events: auto;  /* Keep links & buttons in modal interactive. Background non-interactive. */

    /* Align items within the modal. */
    padding: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4em;

    border: solid 2px var(--light-green);
    border-radius: 1em;
    background-color: var(--sage-green);
    color: var(--white);
}

.modal-image {
    border: solid 2px var(--light-green);
    border-radius: 1em;
}

.modal-right {
    text-align: left;
}

.modal-title {
    text-align: center;
}

.modal-details-pair {
    display: flex;
    flex-direction: row;
}

.modal-details-label {
    width: 100px;
    font-weight: 800;
}

.modal-details-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.modal-close {
    position: absolute;
    top: 0.25em;
    right: 1.5em;

    font-weight: 600;
    transition: transform 0.3s ease;
    padding: 0.25em;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.no-interaction {
    pointer-events: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
    pointer-events: auto;  /* Allow users to close the modal by clicking on overlay. */
}