:root {
  /* Color */
  --color-sage-green: #4c7654a8;
  --color-light-green: #95b46a;
  --color-dark-green: #415d43;

  --color-light-brown: #A08974;
  --color-medium-brown: #5e503f;

  --color-periwinkle: #c6d4ff;
  --color-lavendar: #E2D7F8;
  --color-white-grey: #ebf2fa;
  --color-dark-grey: #1C1C1C;

  /* Font size */
  --font-xlarge: 80px;
  --font-large: 60px;
  --font-medium: 36px;
  --font-normal: 24px;
  --font-small: 12px;

  /* Font weight */
  --weight-extra-bold: 600;
  --weight-bold: 500;
  --weight-normal: 400;
  --weight-thin: 300;
  --weight-extra-thin: 200;
}

/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* Typography */
h1 {
  font-size: var(--font-xlarge);
  font-weight: var(--weight-extra-bold);
  color: var(--color-white-grey);
  margin: 16px 0;
  /* font-family: "LoveloBlack"; */
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-normal);
  font-weight: var(--font-normal);
  color: var(--color-white-grey);
  margin: 4px 0;
}

/* Navbar */
.navbar {
  padding: 0.5em;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-sage-green);
  position: -webkit-sticky;
  position: sticky;
  /* top: -5px; */
  z-index: 2;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 12%);
}

/* .navbar button {
  background-color: transparent;
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--weight-bold);
  font-family: "LoveloBlack";
} */

.navbarMenu {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
  /* font-family: "LoveloBlack"; */
}

.navbarItem {
  color: var(--color-white-grey);
  text-decoration: none;
  font-weight: var(--weight-bold);
  font-size: 1.2rem;
  /* font-family: "LoveloBlack"; */
}

.navbarItem:hover {
  color: var(--color-dark-green);
  transition: 0.3s ease-out;
  cursor: pointer;
}

/* .dropdownMenu button {
  font-weight: var(--weight-bold);
  background-color: transparent !important;
  border: transparent !important;
} */

.logoWrapper {
  flex-grow: 2;
  margin: 0 2em;
}
  
.logo {
  height: 80px;
}