.backgroundContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    /* position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; */
    background-color: var(--color-sage-green);
    /* text-align: justify; */
}

.subContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    text-align: justify;
}

.textImagePair {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* justify-content: center; */
    column-gap: 100px;
    /* padding: 20px; */
}

.ecCardContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;        /* rows align from top */
    justify-content: center;
    padding: 40px 0 0;
    width: 100%;
}

.ecCard {
    display: flex;
    flex-flow: column wrap;
    align-items: center;        /* center items on each row */
    text-align: center;
    padding: 15px;
    width: 45vh;
    /* height: 33%; */
}

.ecImage {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
}