.Projects {
    background-color: var(--color-sage-green);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10% 10%;
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* position: relative; */
}

.filterMenu{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 100px;
    padding: 5%;
}

.filterItem {
    /* border */
    border-color: var(--color-white-grey);
    border-style: solid;
    border-width: medium;
    border-radius: 2em;
    padding: 0.25em 0.75em;

    /* text */
    text-align: center;
    text-decoration: none;
    /* color: var(--color-white-grey); */
    /* font-size: var(--font-normal); */
    font-weight: var(--weight-bold);
}

.filterItem:hover {
    background-color: var(--color-sage-green);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.projectCard {
    /* border-style: solid; */
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 45vh;
    margin: 10px;
}

.projectImage {
    width: 25vh;
    height: 25vh;
    align-self: center;
}

.projectDescription{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    padding: 5px;
    column-gap: 5px;
}

.projectText{
    flex-flow: row wrap;
    font-size: var(--font-normal);
    font-weight: var(--weight-bold);
    color: var(--color-white-grey);
}

.projectTitle {

}

.projectType {

}

.projectTools {

}