.Projects {
    background-color: var(--color-sage-green);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10% 10%;
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* position: relative; */
}

/* Filter Menu */
.filterMenu{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 100px;
    padding: 5%;
}

.filterButton {
    /* border */
    border-color: var(--color-white-grey);
    border-style: solid;
    border-width: medium;
    border-radius: 2em;
    padding: 0.25em 0.75em;

    /* text */
    text-align: center;
    text-decoration: none;
    /* color: var(--color-white-grey); */
    /* font-size: var(--font-normal); */
    font-weight: var(--weight-bold);
}

/* .filterButton.active {
    background-color: var(--color-sage-green);
} */

.filterButton:hover {
    background-color: var(--color-sage-green);
    transition: 0.3s ease-out;
    cursor: pointer;
}

/* Project Display */

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.projectCard {
    /* border-style: solid; */
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 30vh;
    margin: 10px 25px;
}

.projectImage {
    border-style: solid;
    border-color: var(--color-white-grey);
    border-radius: 10%;
    /* width: 30vh; */
    height: 30vh;
    align-items: center;
}

.projectDescription{
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    padding: 5px 0;
    column-gap: 5px;
    color: var(--color-white-grey);
    /* width: 30vh; */
}

/* .projectText{
    flex-flow: row wrap;
    font-size: 16px;
    font-weight: var(--weight-bold);
} */

.projectTitle {
    font-size: 18px;
    font-weight: var(--weight-extra-bold);
}

/* .projectType {

} */

.projectTools {
    font-size: 14px;
    font-weight: var(--weight-bold);
}

/* Modal Box */
.projectModalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: var(--color-white-grey);
    border: 2px solid var(--color-white-grey);
    border-radius: 10px;
    box-shadow: 24px;
    padding: 5%;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 50px;
}

.modalTitle {
    font-size: var(--font-medium);
    font-weight: var(--weight-extra-bold);
    padding: 0 0 2%;
    color: var(--color-dark-grey);
}

.modalContent {
    display: flex;
    flex-flow: row nowrap;
    padding: 2% 0;
    color: var(--color-dark-grey);
}

.linkButton {
    text-align: center;
    /* text-decoration: none; */
    /* color: var(--color-light-brown); */
    /* font-size: var(--font-normal); */
    font-weight: var(--weight-bold);
}

.linkButton:hover {
    color: var(--color-sage-green);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.closeButton {    
    position: absolute;
    top: 5%;
    right: 5%;

    /* text */
    text-align: center;
    text-decoration: none;
    color: var(--color-dark-grey);
    font-size: var(--font-normal);
    font-weight: var(--weight-bold);
}

.closeButton:hover {
    color: var(--color-sage-green);
    transition: 0.3s ease-out;
    cursor: pointer;
}